extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Olivia Culver

        p.lead.text-light
          | Full Stack JavaScript Developer/Web Developer/Front-end Developer

        .portfolio-bio
          p
            | After seeing my older brother successfully transition from middle school teacher to Android mobile engineer, I began the Front End Web Development track on Treehouse to see if coding could be a viable profession for me. I fell in love with using my creativity, problem-solving skills, and logic to program and create webpages. After completing the Front End Web Development track I began the Full Stack JavaScript Techdegree in order to gain a deeper knowledge of JavaScript technologies. In addition to completing several rigorous projects in JavaScript, I have completed peer reviews for other students’ projects and have also been active in the Slack community, asking questions, participating in discussions, and answering other students’ questions.  
            br
            br
            | I was previously on track to become a healthcare provider, however, after serving in my current job as a nursing assistant and figuring out what I really wanted from my career I have instead decided to pursue a career in web development. Although my current role isn’t technically challenging, my experience has given me ample opportunity to develop a clear, assertive communication style, and it has sharpened my ability to work well in a team. I also possess excellent interpersonal communication skills due to my belief in being straightforward, honest, and concise when communicating with others.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Object-oriented programming
          li HTML
          li CSS
          li jQuery
          li Bootstrap 
          li Node.js
          li Express
          li Pug
          li SCSS/Sass
        h6 Contact Info

        ul
          li 313-269-0087
          li oculv21@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/olivia-culver-4aa122a8/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/oculv21' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/OliviaC_dev' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  