extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Olivia Culver

        p.lead.text-light
          | Full Stack JavaScript Developer/Web Developer

        .portfolio-bio
          p
            | I was previously on track to become a healthcare provider, however, after some time serving as a nursing assistant I began searching for a new career that would be challenging, involved continuous learning, allowed for more flexibility than healthcare, and had ample opportunities for upward career mobility. After being inspired by my older brother who successfully transitioned from a middle school teacher to an Android mobile engineer, I began the Front End Web Development track on Treehouse. I fell in love with using my creativity, problem-solving skills, and analytical skills to program and create webpages. I enjoy the instant feedback when refreshing a web page, the plethora of tools and technologies available, and how the culture of tech prizes innovation, efficiency, and improvement. After completing the Front End Web Development track I began the Full Stack JavaScript Techdegree in order to gain a deeper knowledge of JavaScript technologies. In addition to completing several rigorous projects in JavaScript, I have completed peer reviews for other students’ projects, and have also been active in the Slack community, asking questions, participating in discussions, and answering other students’ questions. In my current position I manage and maintain multiple WordPress websites updating them for accuracy, efficiency, and clarity. I also manage the digital marketing efforts of the company including email marketing, Google ads campaigns, and tracking online sales.

            | If you'd like to know more about how I started programming you can read this in depth 
            a(href="https://medium.com/@oculv21/why-i-started-programming-453264774052" target='_blank') story 
            | on Medium. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Object-oriented programming
          li HTML
          li CSS
          li jQuery
          li Bootstrap 
          li Node.js
          li Express
          li Pug
          li SCSS/Sass
          li Effective communication
          li Teamwork
          li Attention to detail
          li Highly adaptable
          li Well organized

        h6 Contact Info
        ul
          li 313-269-0087
          li oculv21@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/olivia-culver-4aa122a8/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/oculv21' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/OliviaC_dev' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  