extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Olivia Culver

        p.lead.text-light
          | Web Developer and Digital Marketing Specialist

        .portfolio-bio
          p
            | After being inspired by my older brother who successfully transitioned from a middle school teacher to an Android developer, I began the Front End Web Development track on Treehouse to change my career from the healthcare field. I fell in love with using my creativity, problem-solving skills, and analytical skills to program and create webpages. I enjoy the instant feedback when refreshing a web page, the plethora of tools and technologies available, and how the culture of tech prizes innovation, efficiency, and improvement. After completing the Front End Web Development track I began the Full Stack JavaScript Techdegree in order to gain a deeper knowledge of JavaScript technologies. In my former position at Performance Industries, I managed and maintained multiple WordPress websites for accuracy, usability, and SEO and I also managed the digital marketing efforts of the company including email marketing, search engine marketing, social media, and affiliate marketing. In addition, I was a coding instructor teaching Bootstrap courses for Nucamp for almost 2 years. It was a joy to help others start the first step towards a career in web development and to break down programming concepts for my students to digest. Now I provide web developement and digital marketing services for small businesses through my digital agency, Team One Digital. I wear many hats which is fitting for me since I have always been a "Jane-of-all-trades." In my free time I enjoy doing yoga, reading, traveling, writing, and outdoor activities such as hiking, boating, and kayaking.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Object-oriented programming
          li HTML
          li CSS
          li jQuery
          li Bootstrap 
          li Node.js
          li PHP
          li Express
          li Pug
          li SCSS/Sass
          li Digital Marketing (Social Media, Email, Search Engine Marketing)
          li WordPress, Shopify, Wix Websites
          li Effective communication
          li Teamwork
          li Attention to detail
          li Highly adaptable
          li Well organized

        h6 Contact Info
        ul
          li 248-313-8325
          li olivia@teamonedigital.com

        a.button.expanded(href='https://teamonedigital.com/' target='_blank') Team One Digital
        a.button.expanded(href='https://www.linkedin.com/in/olivia-culver-4aa122a8/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/oculv21' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  