extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
 
      h1 Olivia codes. Olivia solves problems. Olivia learns. Repeat.

      p.lead.text-light
        | I'm an awesome developer that's currently looking for an equally awesome full-time position as a front-end, web, or full stack developer. This is a showcase of my projects and more information about who I am. This portfolio website was built using HTML, CSS, JavaScript, Express, and Node.js.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in data
        .cell
          a(href= `/projects/${project.id}`)
            img.thumbnail(src= project.image_urls[0])
            h4= project.project_name
      
  
      

      
      
