<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Olivia Culver Codes
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/profile_pic.jpg')
          .cell.auto
            h5 Olivia Culver

            
            p.text-light
              |  I’m a self-taught developer currently working as a web developer and social media specialist for the Michigan Association of CPAs. Thanks to my work experience, my relentless tenacity to learn and grow, and the wealth of resources available online I have developed a wide range of skills and gained knowledge in web development and digital marketing. Specifically, I have created websites from scratch and with WordPress, Shopify, and site builders like Wix and GoDaddy. I employ intelligent design concepts and best practices for accessibility, user experience, SEO, and clarity in my web design. In addition, I have created successful digital marketing campaigns using email, social media, and website promotions to achieve exceptional ROIs. 

            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Olivia Culver
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
